<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DisplayState" value="true" />
    <add key="DisplayIdleTime" value="true" />
    <add key="DisplayLogonTime" value="true" />
    <add key="DisplayID" value="true" />
    <add key="DisplaySessionName" value="true" />
  </appSettings>
</configuration>